ARITHMETRIC OPERATORS

In [1]:
#addition 

3+5

8

In [7]:
#Subtraction
54-30

24

In [3]:
#Multiplication

10*100

1000

In [9]:
#Division
40/7

5.714285714285714

In [10]:
#string and int

'Josh'+20

TypeError: can only concatenate str (not "int") to str

In [13]:
#string and a string 

'Josh'+'20'

'Josh20'

In [14]:
'Josh'*5

'JoshJoshJoshJoshJosh'

COMPARISON OPERATORS

In [15]:
#Greater than 

45 > 34

True

In [16]:
#Less than 

56<23

False

In [17]:
30*10 < 40*2

False

In [18]:
#Equal

80==70

False

LOGICAL OPERATORS

In [20]:
#AND 
#Checks if the the first Operator is false if not it return the second operator

0 and 3

0

In [21]:
3 and 0

0

In [22]:
3 and 5

5

In [23]:
5 and 3

3

In [24]:
3 and 5

5